<template>
<div class="contact">
    <h1>RES VIETNAM ENGLISH LANGUAGUE CENTER</h1>
    <div class="icon">
        <i class="fas fa-phone"></i> Phone: 0347.096.000 <br />
        <i class="fas fa-map-marker-alt"></i> Address: 131 CMT8 , District 03 , Ho
        Chi Minh City , VietNam <br />
        <i class="fab fa-facebook"></i> Facebook: ResVietNam <br />
        <i class="fas fa-envelope"></i> Email: leminhtambk12@gmail.com <br />
    </div>
</div>
</template>

<script>
export default {
    name: "contact",
};
</script>

<style scoped>
.contact {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 25px;
    color: #cd0000;
}

.icon {
    margin: 20px;
}

i {
    margin: 7px;
    font-size: 18px;
}
</style>
