<template>
<div>
    <AddRoom @Add-Room="AddNewRoom" />
    <div class="avai-full">
        <div class="avai">
            <div class="available"></div>
            Available
        </div>
        <div class="ful">
            <div class="full"></div>
            Full
        </div>
    </div>

    <div class="room-container">
        <Room class="Item" :class="{ 'full-room': !Room.available }" v-for="(Room, index) in Rooms" :key="Room.id" :Room="Room" :index="index" v-on:change-room="RoomChange" @delete-Room="deleteRoom" />
    </div>
</div>
</template>

<script>
import AddRoom from "../components/AddRoom.vue";
import Room from "../components/Room.vue";
import axios from "axios";
export default {
    name: "RoomMap",
    components: {
        AddRoom,
        Room,
    },
    data() {
        return {
            Rooms: [],
        };
    },
    methods: {
        RoomChange(index) {
            var id = this.Rooms[index].id;
            var title = this.Rooms[index].title;
            var available = !this.Rooms[index].available;
            var updRoom = {
                id: id,
                title: title,
                available: available,
            };
            axios
                .put(`http://localhost:3000/Rooms/${id}`, updRoom)
                .then((response) => {
                    var res = response.data;
                    this.Rooms[index].available = res.available;
                });
        },
        deleteRoom(RoomId) {
            axios
                .delete(`http://localhost:3000/Rooms/${RoomId}`)
                .then(() => {
                    this.Rooms = this.Rooms.filter((Room) => Room.id !== RoomId);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        AddNewRoom(newRoom) {
            axios
                .post("http://localhost:3000/Rooms", newRoom)
                .then((response) => {
                    this.Rooms = [response.data, ...this.Rooms];
                    //this.Rooms.push(response.data);
                })
                .catch((error) => {
                    console.log(error.response);
                });
        },
    },
    created() {
        axios
            .get("http://localhost:3000/Rooms")
            .then((response) => {
                this.Rooms = response.data;
            })
            .catch((error) => {
                console.log(error.response);
            });
    },
};
</script>

<style scoped>
.avai-full {
    padding: 25px;
    padding-left: 35px;
    font-size: 18px;
}

.avai {
    vertical-align: center;
}

.available {
    width: 20px;
    height: 20px;
    background: #458b00;
    border: 2px solid black;
    display: inline-block;
}

.full {
    margin-top: 10px;
}

.full {
    width: 20px;
    height: 20px;
    background: purple;
    border: 2px solid black;
    display: inline-block;
}

.room-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 30px;
}

.Item {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background: #458b00;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
}

.full-room {
    background: purple;
}
</style>
