<template>
<div>
    <form @submit.prevent="AddRoom">
        <input type="text" v-model="Room" placeholder="AddRoom..." />
        <input type="submit" value="Submit" />
    </form>
</div>
</template>

<script>
export default {
    name: "AddRoom",
    data() {
        return {
            Room: "",
        };
    },
    methods: {
        AddRoom() {
            const newRoom = {
                title: this.Room,
                available: true,
            };
            this.$emit("Add-Room", newRoom);
            this.Room = "";
        },
    },
};
</script>

<style scoped>
form {
    display: flex;
    font-size: 18px;
    line-height: 1.5;
}

input[type="text"] {
    width: 80%;
    border: 1px solid #2b2424;
    padding: 7px;
    font-size: 18px;
}

input[type="submit"] {
    width: 20%;
    border: 1px solid #2b2424;
    background: #d2691e;
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
}
</style>
