<template>
<div class="header">
    <h1>ROOM MANAGEMENT</h1>
    <div id="nav">
        <router-link to="/">Room-Map</router-link> |
        <router-link to="/contact">Contact</router-link>
    </div>
</div>
</template>

<script>
export default {
    name: "Header",
};
</script>

<style scoped>
.header {
    background: #fdeef4;
    text-align: center;
    padding: 10px;
}

h1 {
    color: #cdad00;
    font-size: 30px;
}

#nav {
    margin-top: 10px;
    font-size: 25px;
    color: #ffffcc;
}
</style>
