<template>
<div>
    <div>
        <input type="checkbox" @change="$emit('change-room', index)" />
        {{ Room.title }}
        <i @click="deleteRoom(Room.id)" class="fas fa-trash-alt"></i>
    </div>
</div>
</template>

<script>
export default {
    name: "Room",
    props: ["Room", "index"],
    methods: {
        deleteRoom(RoomId) {
            this.$emit("delete-Room", RoomId);
        },
    },
};
</script>

<style scoped>
i {
    float: right;
    right: 5px;
    bottom: 5px;
}

input {
    border: 1px solid orange;
    height: 12px;
    width: 12px;
}
</style>
